In [1]:
t =(1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
len(t)

3

In [6]:
t

(1, 2, 3)

In [7]:
t = ('one', 2)

In [8]:
t

('one', 2)

In [9]:
t[0]

'one'

In [10]:
t[-1]

2

In [11]:
t = ('a', 'a', 'c')

In [12]:
t.count('a')

2

In [13]:
t.index('c')

2

In [14]:
myset = set()

In [15]:
myset

set()

In [16]:
myset.add(7)

In [17]:
myset

{7}

In [18]:
myset.add(13)

In [19]:
myset

{7, 13}

In [20]:
myset.add(7)

In [21]:
myset

{7, 13}

In [22]:
1 == 1

True

In [23]:
test.txt

NameError: name 'test' is not defined

In [24]:
%%writefile myfile.txt
nothing matters

Writing myfile.txt

In [25]:
myfile = open('myfile.txt')

In [26]:
myfile = open('wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'wrong.txt'

In [27]:
pwd

'/Users/kimhermosillo/Desktop/personal/python'

In [28]:
myfile = open('myfile.txt')

In [29]:
myfile.read()

'nothing matters'

In [30]:
myfile.seek(0)

0

In [31]:
myfile.read()

'nothing matters'

In [32]:
myfile.readlines()

[]

In [33]:
myfile.close()

In [34]:
myfile = open('myfile.txt')

In [35]:
with open('myfile.txt') as my_newfile:

SyntaxError: unexpected EOF while parsing (<ipython-input-35-8d928fc4efbd>, line 1)

In [36]:
with open('myfile.txt') as my_newfile:
    contents = my_newfile.read()

In [37]:
contents

'nothing matters'

In [40]:
with open('myfile.txt',mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [39]:
contents

'nothing matters'

In [41]:
with open('my_newfile.txt',mode='a') as f:
    f.write('life sux n then u die')

In [42]:
with open('my_newfile.txt',mode='r') as f:
    print(f.read())

life sux n then u die

In [43]:
with open('asdfjkl.txt',mode='w') as f:
    f.write('i created this weirdo')

In [44]:
with open('asdfjkl.txt',mode='r') aS f:
    print(f.read())

SyntaxError: invalid syntax (<ipython-input-44-ad92089669eb>, line 1)

In [45]:
a = 12

In [46]:
b = a-10

In [47]:
a > b

True

In [48]:
12 != 12

False

In [49]:
2 <3> 10

False

In [50]:
2<=3>=1

True

In [1]:
if True:

SyntaxError: unexpected EOF while parsing (<ipython-input-1-2c8a33b52dfb>, line 1)

In [4]:
if 3>2:
    print('it works')

it works

In [5]:
hungry = true

NameError: name 'true' is not defined

In [6]:
hungry = true

if hungry:
print ('i want wings')
else:
    print('why are you thinking about food')

IndentationError: expected an indented block (<ipython-input-6-496a2c3c05bc>, line 4)

In [7]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('i love subaru')
else:
    print('I dont know much')

I dont know much

In [11]:
name = 'Martin'

if name == 'Martin':
    print('Hi Marty')
elif name == 'Georgia':
    print('Hi Georgie!')
else: 
    print('What is your name?')

Hi Marty

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [6]:
for jelly in mylist: 
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [8]:
for num in mylist:
    #CHECK FOR EVEN
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [11]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [12]:
mystring = 'we finna die'

for letter in mystring:
    print(letter)

w
e

f
i
n
n
a

d
i
e

In [13]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [14]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [15]:
len(mylist)

4

In [21]:
for a,b in mylist:
    print(a)

1
3
5
7

In [22]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [24]:
for a,b,c in mylist:
    print(c)

3
7
10

In [33]:
d = {'k1':1, 'k2':2, 'k3':3}

for value in d.values():
    print(value)

1
2
3

In [40]:
x = 7

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

x is not less than 5

In [2]:
mystring = 'Kimmy'

In [6]:
for letter in mystring:
    if letter == 'i':
        continue
    print(letter)

K
m
m
y

In [12]:
x = 0

while x < 5:
    if x < 5:
    print(f'the value is {x}')
    
    print (x)
    x+=1

IndentationError: expected an indented block (<ipython-input-12-afeba3a907ca>, line 5)

In [1]:
mylist = [1,2,3]

In [7]:
for num in range(3,7):
    print(num)

3
4
5
6

In [8]:
list(range(0,3,))

[0, 1, 2]

In [14]:

word = 'abcde'
for index,letter in enumerate(word):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

In [18]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [19]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [20]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [21]:
'x' in [1,2,3]

False

In [22]:
'x' in ['x','y']

True

In [23]:
'a' in 'a world'

True

In [24]:
'mykey' in {'mykey':123}

True

In [25]:
d = {'mykey': 123}

In [26]:
mylist = [10,20,30,40]

min(mylist)

In [27]:
min(mylist)

10

In [28]:
max(mylist)

40

In [29]:
from random import shuffle

In [30]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [32]:
shuffle(mylist)

In [33]:
mylist

[5, 9, 6, 2, 1, 3, 8, 4, 10, 7]

In [34]:
from random import randint

In [35]:
randint(0,100)

95

In [37]:
randint(0,7)

5

In [38]:
mynum = randint(0,10)

In [39]:
mynum

6

In [43]:
result = input('Favorite number: ')

Favorite number: 7

In [44]:
type(result)

str

In [45]:
float(result)

7.0

In [46]:
int(result)

7

In [47]:
mystring = 'hello'

In [52]:
mylist = []

letter for letter in mystring:
    append(letter)

SyntaxError: invalid syntax (<ipython-input-52-b4141f2bcfe4>, line 3)

In [51]:
mylist

['h', 'e', 'l', 'l', 'o']

In [53]:
mylist = [x for x in 'word']

In [54]:
mylist

['w', 'o', 'r', 'd']

In [59]:
mylist = [num**2 for num in range(0,11)]

In [60]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [64]:
mylist

[0, 4, 16, 36, 64, 100]

In [66]:
celcius = [0,10,20,30]
fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [67]:
fahrenheit

[32.0, 50.0, 68.0, 86.0]

In [68]:
fahrenheit = []

for temp in celcius: 
    fahrenheit.append(( (9/5)*temp + 32))

In [69]:
fahrenheit

[32.0, 50.0, 68.0, 86.0]

In [ ]:
mylist.